PORT = Enter your desired port number here
# Example: PORT = 7000
BASE_URL = Enter your desired base URL here
# Example: BASE_URL = /api/v1

# Database configuration
DB_HOST = Enter your database host here

AUTH_EMAIL = Enter your authentication email here
// Example: AUTH_EMAIL = admin@example.com
AUTH_PASSWORD = Enter your authentication password here
PRIVATE_KEY = Enter your private key here
UPLOADS_BASE_URL = Enter your uploads base URL here
# Example: UPLOADS_BASE_URL = localhost:7000/uploads