PORT = Enter your desired port number here
# Example: PORT = 7000
BASE_URL = Enter your desired base URL here
# Example: BASE_URL = /api/v1

# Database configuration
DB_HOST = Enter your database host here

